<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwg_0CBiqBwWJiKvPZUebB2T5a7omnP8M</string>
	<key>GCM_SENDER_ID</key>
	<string>450922876275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-taa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-taa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450922876275:ios:0908356b240ce1c261c906</string>
</dict>
</plist>